/* button radius */

@theme {
  --btn-rad-xl: 1rem;
  --btn-rad-lg: 0.8rem;
  --btn-rad-md: 0.6rem;
  --btn-rad-sm: 0.4rem;
  --btn-rad-xsm: 0.3rem;
}

@layer utilities {
  .rounded-btn-xl {
    border-radius: var(--btn-rad-xl);
  }
  .rounded-btn-lg {
    border-radius: var(--btn-rad-lg);
  }
  .rounded-btn-md {
    border-radius: var(--btn-rad-md);
  }
  .rounded-btn-sm {
    border-radius: var(--btn-rad-sm);
  }
  .rounded-btn-xsm {
    border-radius: var(--btn-rad-xsm);
  }
}
