/* button radius */

@theme {
  --rad-xl: 1rem;
  --rad-lg: 0.8rem;
  --rad-md: 0.6rem;
  --rad-sm: 0.4rem;
  --rad-xsm: 0.3rem;
}

@layer utilities {
  .rounded-xl {
    border-radius: var(--rad-xl);
  }
  .rounded-lg {
    border-radius: var(--rad-lg);
  }
  .rounded-md {
    border-radius: var(--rad-md);
  }
  .rounded-sm {
    border-radius: var(--rad-sm);
  }
  .rounded-xsm {
    border-radius: var(--rad-xsm);
  }
}
